<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конвертер валют</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <h1>Конвертер валют</h1>
    <form action="/convert" method="post">
        <input type="number" name="amount" required step="any">
        <select name="fromCurrency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="RUB">RUB</option>
        </select>
        <span>в</span>
        <select name="toCurrency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="RUB">RUB</option>
        </select>
        <button type="submit">Конвертировать</button>
    </form>
    <p th:if="${result}" th:text="${result}"></p>
    <a href="/" class="button">Вернуться на главную</a>
</div>
</body>
</html>